@import 'vars';

.main {
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Roboto', sans-serif;
}

.Players {
 position: relative;
 min-width: 220px;
 height: 330px;
 border-radius: 20px;
 margin: 15px;
 box-shadow: 4px 4px 20px 3px $primary;
 
}
.Players:after {
 content: '';
 position: absolute;
 bottom: 0;
 width: 0;
 height: 0;
 border-right:90px solid transparent;
 border-top: 190px solid transparent;
 border-left: 130px solid $primary;
 border-bottom: 130px solid $primary;
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
 z-index: 1;
}
.Players .photo--number img {
 position: relative;
 width: 160px;
 margin-top: 4rem;
 margin-left: 1rem;
 border-radius: 50%;
 border: 5px solid $primary;
 z-index: 1000;
}

.photo--number {
 position: relative;
}
.number,.tab {
 position: absolute;
}
.tab {
 right: 12px;
 width: 0;
 height: 70px;
 border-left: 25px solid $primary;
 border-right: 25px solid $primary;
 border-bottom: 15px solid transparent;
}

.number {
 top: 15px;
 right: 27px;
 font-size: 30px;
 color: white;
 font-weight: bold;
 
}

.info {
 position: relative;
 display: flex;
}
.info div {
 z-index: 3;
}
.info div h3 {
 text-align: center;
 margin-top: 0;
 margin-left: 0;
 margin-bottom: 1rem;
 font-weight: bold;
 font-size: 1.4rem;
}
.info div ul {
 padding-left: 1rem;
 margin-top: .5rem;
 margin-bottom: .5rem;
 list-style: none;
}